html, body {
    height: 100%;
}

body {
        max-width: $content-width;
        font-family: $base-font-family;
        margin: 0 auto;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        padding: 2em 1em;
        text-rendering: optimizeLegibility;
        height: 100%;
        @include media-query($on-palm) {
            max-width: 100%;
            padding: 1em;
        }
        background-color: #FCE205;
        color: #444C38;
    }
body.readable {
  background-color: #FFF;
  color: #111;
}

    h1,h2,h3,h4,h5,h6 {
         font-family: $title-font-family;
         font-weight: bold;
         line-height: 1.8;
         margin: 0;
         text-transform: capitalize;
    }


a {
    color: $brand-color;
    text-decoration: none;
    &:hover{
     color: $text-color;   
    }
}



p a {
    color: $text-color;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
    box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
    -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
    &:hover {
        color: lighten($background-color, 50%);
        box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

    }
}


figure {
    margin: 0;
}

img {
    max-width: 100%;
}

pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $brand-color;
    > code {
        border: none;
    }
}
pre {
        padding: 1em;
    }
code {
    padding: 0.1em;
    }
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 0.9*$base-font-size;
    font-style: italic;
    }



.headline, .post-headline {
    font-size: 4em;
    margin-bottom: 0.5em;
    
        @include media-query($on-palm) {
            font-size: 2em;
        }
    }


/* Home Button */
.home {
    background-image: url(../images/left-arrow.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    opacity: 0.9;
    position: fixed;
    top: 50px;
    left: 50px;
    &:hover{
    opacity: 1;
    }
    @include media-query($on-laptop) {
        top: 90%;
        left: 90%;
        height: 30px;
        width: 30px;
        opacity: 0.6;
    }
}



/* Article list in index/home page */
.article-list {
    margin: 1em 0;
}


/* Add video class for iframes to make them responsive */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }   
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

/* Theme switch button */
.theme {
    cursor: pointer;
}

/* Footer */
footer {
    margin-top: 50px;
    margin-bottom: 50px; 
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

.links.top {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

main.index {
  padding-top: 50px;
}

/* Footer copyrights */
.copy {
    color: #aaa;
}

/* Horizontal Divider */
.divider {
    margin: 1em 0;
}

/* Huy */

section {
  margin-bottom: 25px;
}

.boom {
  border: 15px solid #333;
  padding: 35px 25px;
  margin-bottom: 65px;
  -webkit-box-shadow: -23px 20px 0px 0px rgba(0,0,0,0.79);
  -moz-box-shadow: -23px 20px 0px 0px rgba(0,0,0,0.79);
  box-shadow: -23px 20px 0px 0px rgba(0,0,0,0.79);
}

.home-books {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
  overflow: hidden;

  li {
    float: left;
    width: 50%;
    overflow: hidden;
    height: 520px;
    position: relative;
  }

  li img {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 75%;
    max-height: 500px;
    margin-left: 5%;
    border : 1px solid #333;
-webkit-box-shadow: -5px 3px 15px -7px rgba(51,51,51,1);
-moz-box-shadow: -5px 3px 15px -7px rgba(51,51,51,1);
box-shadow: -5px 3px 15px -7px rgba(51,51,51,1);
  }
}

.book-intro {
  overflow: hidden;
  .title {
    font-size: 2.4em;
  }
  .cover {
    float: left;
    width: 40%;
    text-align: center;
    padding: 45px;
    img {
      border: 1px solid #333;
      width: 80%;
      -webkit-box-shadow: 13px 22px 62px 4px rgba(238,238,238,1);
      -moz-box-shadow: 13px 22px 62px 4px rgba(238,238,238,1);
      box-shadow: 13px 22px 62px 4px rgba(238,238,238,1);
    }
  }
  .info {
    margin-left: 40%;
    padding: 15px;
  }
}

.book-text {
  font-size: 1.2em;
  .para {
    margin: auto 30px;

  }
}

.article-new {
  padding-left: 30px;
  padding-top: 30px;
  span.para {
    background-color: #EFEFEF;
    -webkit-box-shadow: -11px 9px 0px -1px rgba(96,193,125,1);
    -moz-box-shadow: -11px 9px 0px -1px rgba(96,193,125,1);
    box-shadow: -11px 9px 0px -1px rgba(96,193,125,1);
  }

  h3 {
    font-family: $base-font-family;
  }
}

small {
  color: #666;
  font-size: 0.8em;
}

@media (max-width: 480px) {
  .home-books li {
    float: none;
    width: 100%;
  }

  .book-intro {
    .cover {
      float: none;
      width: 100%;
      padding: 0px;
    }
    .info {
      margin-left: 0px;
    }
  }
}

